/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.wp-block-create-block-cmgh-featured-courses {
	background-color: transparent;
	color: black;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.cmgh-course-grid{
	display: flex;
	align-items: stretch;
	gap: .5em;
	padding: 2px;
}
.course-card{
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
	border-radius: 8px;
	padding: .5em;
	flex: 1;
	transition: transform .2s ease, box-shadow .2s ease;
}
.course-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
}